#admin-menu li.admin-menu-account ul {
	right: 0;
}

#admin-menu li.admin-menu-account li.expandable ul {
	margin: -29px 160px 0 0;
}

#admin-menu-account   .admin-menu-account > a {
  height: 32px;
}

#admin-menu-account  .admin-menu-account a img {
  display: inline-block;
  vertical-align: middle;
  max-width: 30px;
  height: 21px;
}

#admin-menu  .admin-menu-account .admin-menu-text {
  margin-right: 5px;
}

.admin-menu-account .user-picture-stub {
  width: 20px !important;
  height: 20px !important;
  font-size: 14px !important;
  line-height: 18px;
}
